.genre-container {
    height: 42.5vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.genre-menu {
    color: #9C928B;
    background: #2A2C2B;
    width: 200px;
    height: 100px;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #009E54;
  } 
  
  ::-webkit-scrollbar-thumb {
    background-color: #9C928B; 
  }
  
  ::-webkit-scrollbar-button {
    background-color: #070707;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: black;
  } 